
.mainContainer{
    height: 100vh;
}



.slide{
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    align-items: center;
}

.slide1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/slide1.jpg);
}
.slide2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/slide2.jpg);
}
.slide3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/slide3.jpg);
}
.slide4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/slide4.jpg);
}
.slide5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/slide5.jpg);
}
.slide6{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/slide6.webp);
}

.fs-6,
.fs-5 {
    font-size: 1rem !important;
    font-family: "Poppins" !important;
}