body {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

* {
    font-family: "Poppins";
    color: #fff;
}

.navbarBlur {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.progress-bar {
    background-color: #ff6633;
    /* overflow: hidden;
    position: fixed;
    transition: width 2s; */
}

.fs-6,
.fs-5 {
    font-size: 1rem !important;
    font-family: "Poppins" !important;
}

.active {
    color: #ff6633 !important;
}

.nav-link {
    font-size: smaller;
    color: white;
}

.nav-link:hover {
    cursor: pointer !important;
    text-decoration: underline 3px solid #ff6633 !important;
}


/* App.css */

.proContainer{
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding:0.6rem;
    border-radius: 2rem;
    height: 30%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    backdrop-filter: contrast(50%);
}
/* Progress container to place the vertical progress bar */
.progress-container {
    height: 100%;
    width: 2px;
    background-color: #f3f3f3;
    border-radius: 2rem;
}

/* Progress bar inside the container */
.progress {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ddd;
    /* Light color for the background track */
    /* filter: contrast(100%); */
}

/* Progress bar fill */
.progress-bar {
    width: 100%;
    position: absolute;
    top: 0;
    /* transition: height 0.3s ease; */
    /* Smooth transition */
    border-radius: 5px;
    /* filter: contrast(100%); */
}

.primaryOutline {
    background: rgba(0, 123, 255, 0.1);
}

.dangerOutline {
    background: rgba(220, 53, 69, 0.1);
}
.muiPurpleOutline{
    color: #3c0080;
    background: rgba(225, 217, 255, 0.3);
}

.primaryOutline:hover {
    background: rgba(0, 123, 255, 0.2);
}

.dangerOutline:hover {
    background: rgba(220, 53, 69, 0.2);
}
.muiPurpleOutline:hover {
    color: #3c0080 !important;
    background: rgba(225, 217, 255, 0.6);
}

.primaryOutline:active {
    background: rgba(0, 123, 255, 0.3) !important;
}

.dangerOutline:active {
    background: rgba(220, 53, 69, 0.3) !important;
}
.muiPurpleOutline:active {
    color: #3c0080 !important;
    background: rgba(225, 217, 255, 1) !important;
}